.card-wrapper {
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  background-color: var(--White);
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.subject-wrapper {
  padding: 10px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
  background-color: var(--Main-purple);
  color: var(--White);
}
.items-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.items-column {
}

.items-column:nth-child(1) {
  border-right: 2px solid rgba(99, 95, 199, 0.1);
  padding-right: 30px;
}

@media (max-width: 530px) {
  .items-wrapper {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 530px) {
  .items-column:nth-child(1) {
    border-right: 0;
    padding-right: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.item-name {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--Dark-grey);
  margin-bottom: 10px;
}
.buttons-wrapper {
}
