.search-input {
  height: 40px;
  border: 1px solid var(--Light-grey);
  border-radius: 10px;
  flex-grow: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  position: relative;
}

.search-input.empty {
  border: 1px solid var(--Red-hover);
  outline: none;
}

.search-input:focus,
.search-input:hover {
  border: 1px solid var(--Main-purple);
  cursor: pointer;
  outline: none;
}

.search-input:disabled:focus,
.search-input:disabled:hover {
  border: 1px solid var(--Light-grey);
  cursor: default;
  outline: none;
}

.search-input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  mix-blend-mode: normal;
  opacity: 0.6;
  color: var(--Black);
}

.search-input:focus {
}

.search-input[disabled] {
  background-color: var(--Light-grey);
}
