.main-btn {
  height: 40px;
  width: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.main-btn.add {
  color: var(--White);
  background-color: var(--Main-purple);
}

.main-btn.add:hover {
  background-color: var(--Main-purple-hover);
}

.main-btn.clear {
  width: 120px;
  background: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.main-btn.clear:hover {
  background: rgba(99, 95, 199, 0.25);
}

.main-btn.delete {
  width: 100%;
  background-color: var(--Red);
  color: var(--White);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.main-btn.cancel {
  width: 100%;
  background: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.main-btn.cancel:hover {
  background: rgba(98, 95, 199, 0.233);
  color: var(--Main-purple);
}

.main-btn.delete:hover {
  background-color: var(--Red-hover);
}

.none {
  visibility: hidden;
}
