.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px 20px 20px;
}
.page_number {
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.page_number:hover {
  background-color: var(--Lines-light);
}
.page_number.active {
  background-color: var(--Main-purple);
  color: var(--White);
  cursor: default;
}

.page_number:hover.active {
  background-color: var(--Main-purple);
}
