table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--Medium-grey);
  color: var(--White);
  text-align: center;
}

thead th {
  margin: 10px;
  border-bottom: 2px solid var(--White);
  user-select: none;
}

.cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 27px;
  padding: 0 5px;
  cursor: pointer;
}

.cell-wrapper.active {
  background-color: var(--Main-purple);
}

.cell-wrapper.active .sorting-mark {
  margin-left: 5px;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid white;
}

.cell-wrapper.active.desc .sorting-mark {
  transform: rotate(180deg);
}

tbody {
  background-color: var(--Lines-light);
  text-align: center;
  font-weight: normal;
}

tbody td {
  padding: 2px;
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(99, 95, 199, 0.1);
}

.cell-right {
  text-align: right;
}

.cell-center {
  text-align: center;
}
